.formacao {
  background: #141414;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 2fr;
}

.formacao .subtitulo {
  color: black;
  font-size: 6rem;
  max-width: 5ch;
  align-items: center;
}

.formacao-experiencia {
  color: #e0e0e0;
}

.formacao-texto {
  color: #e0e0e0;
  font-size: 1.4rem;
  text-align: begin;
  line-height: 1.8rem;
  padding: 0 0 60px 0;
}
