body {
  margin: 0px;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

main {
  margin: 0;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  max-width: 4ch;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 4rem;
    max-width: initial !important;
  }
}
